<div class="page-container">
  <!-- <h1>Colors</h1> -->
  <ktbz-page-title parent="Guideline" title="Colors">
    Kolory wylistowane według typu z uwzględnieniem wartości HEX oraz
    korespondującej labelki.
  </ktbz-page-title>

  <section>
    <h2>Primary</h2>
    <div class="swatches">
      <div class="swatch" *ngFor="let color of primary">
        <div class="color-box" [style.background-color]="color.value"></div>
        <label class="text-secondary text-semi-bold">{{ color.label }}</label>
        <label class="text-secondary"> {{ color.value }}</label>
      </div>
    </div>

    <h2>Success</h2>
    <div class="swatches">
      <div class="swatch" *ngFor="let color of success">
        <div class="color-box" [style.background-color]="color.value"></div>
        <label class="text-secondary text-semi-bold">{{ color.label }}</label>
        <label class="text-secondary"> {{ color.value }}</label>
      </div>
    </div>

    <h2>Warning</h2>
    <div class="swatches">
      <div class="swatch" *ngFor="let color of warning">
        <div class="color-box" [style.background-color]="color.value"></div>
        <label class="text-secondary text-semi-bold">{{ color.label }}</label>
        <label class="text-secondary"> {{ color.value }}</label>
      </div>
    </div>

    <h2>Error</h2>
    <div class="swatches">
      <div class="swatch" *ngFor="let color of error">
        <div class="color-box" [style.background-color]="color.value"></div>
        <label class="text-secondary text-semi-bold">{{ color.label }}</label>
        <label class="text-secondary"> {{ color.value }}</label>
      </div>
    </div>

    <h2>Info</h2>
    <div class="swatches">
      <div class="swatch" *ngFor="let color of info">
        <div class="color-box" [style.background-color]="color.value"></div>
        <label class="text-secondary text-semi-bold">{{ color.label }}</label>
        <label class="text-secondary"> {{ color.value }}</label>
      </div>
    </div>

    <h2>Neutral</h2>
    <div class="swatches">
      <div class="swatch" *ngFor="let color of neutral">
        <div class="color-box" [style.background-color]="color.value"></div>
        <label class="text-secondary text-semi-bold">{{ color.label }}</label>
        <label class="text-secondary"> {{ color.value }}</label>
      </div>
    </div>
  </section>
</div>
