.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button.sticky {
    position: sticky;
    bottom: 0;
    margin-top: 32px;
  }
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__controls {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }
}

input {
  width: 100%;
}
