.list-row {
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  display: grid;
  box-shadow: 0 1px 8px rgba($color: #000000, $alpha: 0.12);
}

.list-cell {
  display: flex;
  flex-direction: column;
}

.list-badge {
  font: var(--text-caption);
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
}
