<div class="page-container">
  <ktbz-page-title parent="Component" title="Action buttons">
    Different types and option that just fits! Using directives
  </ktbz-page-title>

  <section>
    <h2>Base usage</h2>
    <div class="simple-grid">
      <button ktbzActionBtn size="small">
        <i-tabler name="user-circle"></i-tabler>
        Solid button
      </button>
      <button ktbzActionBtn size="small">Solid button</button>
      <button ktbzActionBtn size="small">
        Solid button

        <i-tabler name="user-circle"></i-tabler>
      </button>

      <button ktbzActionBtn [inverted]="true" variant="filled">
        <i-tabler name="user-circle"></i-tabler>
        Solid button
      </button>
      <button ktbzActionBtn [inverted]="true" variant="ghost">
        Solid button
      </button>
      <button ktbzActionBtn [inverted]="true" variant="neutral">
        Solid button
        <i-tabler name="user-circle"></i-tabler>
      </button>
    </div>
  </section>
</div>
