.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__total-pages {
    color: var(--primary-300);
  }

  &__button {
    border-radius: 8px;
    border: 1px solid var(--neutral-100);
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
      border-color 0.1s ease-in-out;

    &:not(:disabled):active,
    &:not(:disabled).active {
      border-color: var(--primary-300);
      background-color: var(--primary-300);
      color: var(--neutral-0);
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
