.avatar {
  font-family: var(--text-font);
  &--xs {
    font-size: 12px;
    width: var(--space-24);
    height: var(--space-24);
  }
  &--sm {
    font-size: 12px;
    width: var(--space-32);
    height: var(--space-32);
  }
  &--md {
    font-size: 12px;
    width: var(--space-40);
    height: var(--space-40);
  }
  &--lg {
    font-size: 18px;
    width: var(--space-48);
    height: var(--space-48);
  }
  &--xl {
    font-size: 24px;
    width: var(--space-64);
    height: var(--space-64);
  }

  &--border {
    border: 1px solid var(--neutral-0);
  }

  &--rounded {
    border-radius: var(--space-999);

    .avatar__image {
      border-radius: var(--space-999);
    }

    .avatar__text,
    .avatar__default {
      border-radius: var(--space-999);
    }
  }

  &__image,
  &__text,
  &__default {
    height: 100%;
    width: 100%;
  }

  &__text,
  &__default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    object-fit: cover;
  }

  &__text {
    background-color: rgba(#758dff, 0.24);
  }

  &__default {
    background-color: var(--neutral-100);
  }
}

.icon {
  &--xs {
    stroke: var(--neutral-0);
    width: var(--space-16);
    height: var(--space-16);
  }
  &--sm {
    stroke: var(--neutral-0);
    width: var(--space-20);
    height: var(--space-20);
  }
  &--md {
    stroke: var(--neutral-0);
    width: var(--space-24);
    height: var(--space-24);
  }
  &--lg {
    stroke: var(--neutral-0);
    width: var(--space-32);
    height: var(--space-32);
  }
  &--xl {
    stroke: var(--neutral-0);
    width: var(--space-40);
    height: var(--space-40);
  }
}
