<div class="page-container">
  <ktbz-page-title parent="Component" title="Buttons">
    Different types and option that just fits! Using directives
  </ktbz-page-title>

  <section>
    <h2>Types and sizes</h2>
    <div class="simple-grid">
      <button ktbzBtn size="small" variant="solid">Solid button</button>
      <button ktbzBtn size="small" variant="outline">Solid button</button>
      <button ktbzBtn size="small" variant="filled">Solid button</button>
      <button ktbzBtn size="small" variant="ghost">Solid button</button>
      <button ktbzBtn size="small" variant="neutral">Solid button</button>

      <button ktbzBtn variant="solid">Solid button</button>
      <button ktbzBtn variant="outline">Solid button</button>
      <button ktbzBtn variant="filled">Solid button</button>
      <button ktbzBtn variant="ghost">Solid button</button>
      <button ktbzBtn variant="neutral">Solid button</button>

      <button ktbzBtn size="large" variant="solid">Solid button</button>
      <button ktbzBtn size="large" variant="outline">Solid button</button>
      <button ktbzBtn size="large" variant="filled">Solid button</button>
      <button ktbzBtn size="large" variant="ghost">Solid button</button>
      <button ktbzBtn size="large" variant="neutral">Solid button</button>
    </div>

    <h2>Icons</h2>
    <div class="simple-grid">
      <button ktbzBtn size="small" variant="solid">
        <i-tabler name="user"></i-tabler> Solid button
      </button>
      <button ktbzBtn size="small" variant="outline">
        <i-tabler name="user"></i-tabler> Solid button
      </button>
      <button ktbzBtn size="small" variant="filled">
        <i-tabler name="user"></i-tabler> Solid button
      </button>
      <button ktbzBtn size="small" variant="ghost">
        <i-tabler name="user"></i-tabler> Solid button
      </button>
      <button ktbzBtn size="small" variant="neutral">
        <i-tabler name="user"></i-tabler> Solid button
      </button>

      <button ktbzBtn variant="solid">
        Solid button <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn variant="outline">
        Solid button <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn variant="filled">
        Solid button <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn variant="ghost">
        Solid button <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn variant="neutral">
        Solid button <i-tabler name="user"></i-tabler>
      </button>

      <button ktbzBtn size="large" variant="solid">
        <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn size="large" variant="outline">
        <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn size="large" variant="filled">
        <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn size="large" variant="ghost">
        <i-tabler name="user"></i-tabler>
      </button>
      <button ktbzBtn size="large" variant="neutral">
        <i-tabler name="user"></i-tabler>
      </button>
    </div>
  </section>
</div>
