.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.search-button {
  display: flex;
  margin-top: 16px;

  gap: 8px;
  .btn {
    flex-grow: 1;
  }
}
