<div class="list">
  <ng-container *ngIf="searchForm && searchTemplate">
    <ktbz-collapse header="Wyszukiwarka">
      <ng-template [ngTemplateOutlet]="searchTemplate"></ng-template>
      <div class="search-button">
        <button ktbzBtn size="small" variant="outline" (click)="clearFilters()">
          Wyczyść
        </button>

        <button ktbzBtn size="small" (click)="applySearch()">Wyszukaj</button>
      </div>
    </ktbz-collapse>
  </ng-container>

  <ktbz-list-sorting
    *ngIf="sortableColumns"
    [sortableColumn]="sortableColumns"
    (onSort)="onSort($event)"
  ></ktbz-list-sorting>

  <div class="list__items">
    <ng-container *ngIf="items.length; else emptyList">
      <div class="list-item" *ngFor="let item of items">
        <ng-template
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item }"
        ></ng-template>
      </div>
    </ng-container>

    <ng-template #emptyList>
      <div class="list-row">
        <label class="text-secondary text-semi-bold">Brak elementów</label>
      </div>
    </ng-template>
  </div>

  <ktbz-list-pagination
    [pagination]="pagination"
    (onNextPage)="next()"
    (onPreviousPage)="previous()"
  ></ktbz-list-pagination>
</div>
