<ktbz-dashboard-summary
  *ngIf="summary"
  [summaryData]="summary"
  (click)="next()"
></ktbz-dashboard-summary>
<hr class="list-hr" />
<ktbz-list *ngIf="history" [items]="history" [itemTemplate]="itemTemplate">
</ktbz-list>
<ng-template #itemTemplate let-history>
  <div class="list-row">
    <div class="list-cell">
      <label class="text-secondary text-medium">
        {{ history.name }}
      </label>
    </div>

    <div class="list-cell">
      <span class="list-badge" [style.background-color]="history.categoryColor">
        {{ history.categoryName }}</span
      >
    </div>

    <div class="list-cell">
      {{ history.amount | currency : summary?.currency }}
    </div>
  </div>
</ng-template>
