<div class="page-container">
  <ktbz-page-title parent="Component" title="Notifications">
    Different types and option that just fits! Using directives
  </ktbz-page-title>

  <section>
    <h2>Types</h2>
    <ktbz-notification
      type="success"
      header="Success"
      message="File was uploaded successful. Please refresh site to see the changes"
      [withAction]="true"
      [closable]="true"
    ></ktbz-notification>

    <ktbz-notification
      type="error"
      header="Success"
      message="File was uploaded successful. Please refresh site to see the changes"
      [withAction]="true"
      [closable]="true"
    ></ktbz-notification>

    <ktbz-notification
      type="warning"
      header="Success"
      message="File was uploaded successful. Please refresh site to see the changes"
      [withAction]="true"
      [closable]="true"
    ></ktbz-notification>

    <ktbz-notification
      type="info"
      header="Success"
      message="File was uploaded successful. Please refresh site to see the changes"
      [withAction]="true"
      [closable]="true"
    ></ktbz-notification>
  </section>
</div>
