<div class="mobile-menu">
  <a
    class="menu-item"
    routerLink="/tracker/dashboard"
    routerLinkActive="active"
  >
    <i-tabler name="home"></i-tabler>
    <span class="menu-item__indicator"></span>
  </a>

  <a class="menu-item" routerLink="/tracker/list" routerLinkActive="active">
    <i-tabler name="layout-list"></i-tabler>
    <span class="menu-item__indicator"></span>
  </a>

  <div
    class="menu-item--main"
    routerLink="/tracker/create"
    routerLinkActive="active"
  >
    <!-- <button ktbzBtn variant="filled" [onlyIcon]="true">
    </button> -->
    <i-tabler name="square-rounded-plus"></i-tabler>
  </div>

  <a class="menu-item" routerLink="/tracker/charts" routerLinkActive="active">
    <i-tabler name="chart-pie"></i-tabler>
    <span class="menu-item__indicator"></span>
  </a>
  <a class="menu-item" routerLink="/tracker/settings" routerLinkActive="active">
    <i-tabler name="settings"></i-tabler>
    <span class="menu-item__indicator"></span>
  </a>
</div>
