.radio {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding-block: 2px;

  label {
    flex-grow: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    border: 1px solid var(--neutral-600);

    &.selected {
      border-color: var(--primary-300);
    }

    &.invalid {
      border-color: var(--error-100);
    }

    &--selected {
      width: 12px;
      height: 12px;
      border-radius: 999px;
      background-color: var(--primary-300);
    }
  }
}
