<div class="page-container">
  <ktbz-page-title parent="Component" title="Calendar">
    Different types and option that just fits! Using directives
  </ktbz-page-title>

  <section>
    <h2>Usage</h2>
    <ktbz-calendar (onSelectedDate)="selectedDate($event)"></ktbz-calendar>
    {{ date | date : "dd.MM.YYYY" }}

    <ktbz-calendar
      [range]="true"
      (onSelectedDateRange)="selectedRange($event)"
    ></ktbz-calendar>
    {{ dateRange?.from | date : "dd.MM.YYYY" }} -
    {{ dateRange?.to | date : "dd.MM.YYYY" }}
  </section>
</div>
