<div class="page-container">
  <ktbz-page-title parent="Component" title="Badges">
    Different types and option that just fits! Using directives
  </ktbz-page-title>

  <section>
    <h2>Types and sizes</h2>
    <div class="simple-grid">
      <ktbz-badge [isDot]="true" variant="error"></ktbz-badge>
      <ktbz-badge [isDot]="true" variant="success"></ktbz-badge>
      <ktbz-badge [isDot]="true" variant="info"></ktbz-badge>
      <ktbz-badge [isDot]="true" variant="warning"></ktbz-badge>
      <ktbz-badge [isDot]="true"></ktbz-badge>

      <ktbz-badge variant="error">99+</ktbz-badge>
      <ktbz-badge variant="success">New</ktbz-badge>
      <ktbz-badge variant="info">Processing</ktbz-badge>
      <ktbz-badge variant="warning">Verification</ktbz-badge>
      <ktbz-badge>1</ktbz-badge>
    </div>

    <h2>Absolute position with containers</h2>
    <button ktbzBtn ktbzBadgeContainer>
      Click me
      <ktbz-badge [isAbsolute]="true" variant="error">New</ktbz-badge>
    </button>
    <ktbz-avatar text="JD" ktbzBadgeContainer>
      <ktbz-badge
        [isAbsolute]="true"
        variant="success"
        absolutePosition="bottom-right"
        [isDot]="true"
      ></ktbz-badge>
    </ktbz-avatar>
  </section>
</div>
