<div class="page-container">
  <ktbz-page-title parent="Component" title="Avatars">
    Standard avatar icon with different types, sizes and more...
  </ktbz-page-title>

  <section>
    <h2>Size and shape</h2>
    <div class="simple-grid">
      <ktbz-avatar size="xs"></ktbz-avatar>
      <ktbz-avatar size="sm"></ktbz-avatar>
      <ktbz-avatar size="md"></ktbz-avatar>
      <ktbz-avatar size="lg"></ktbz-avatar>
      <ktbz-avatar size="xl"></ktbz-avatar>

      <ktbz-avatar size="xl" type="square"></ktbz-avatar>
      <ktbz-avatar size="lg" type="square"></ktbz-avatar>
      <ktbz-avatar size="md" type="square"></ktbz-avatar>
      <ktbz-avatar size="sm" type="square"></ktbz-avatar>
      <ktbz-avatar size="xs" type="square"></ktbz-avatar>
    </div>

    <h2>Source</h2>
    <div class="simple-grid">
      <ktbz-avatar size="md" [text]="'9+'"></ktbz-avatar>
      <ktbz-avatar
        size="md"
        [src]="
          'https://allthings.how/content/images/size/w1600/format/avif/wordpress/2020/10/allthings.how-how-to-change-your-profile-picture-on-google-meet-profile-photo.png'
        "
      ></ktbz-avatar>
      <ktbz-avatar size="md"></ktbz-avatar>
    </div>
  </section>
</div>
